{{> head }}

{{> navbar }}

  <div class="row">
    <div class="col-8">
      <h1 class="text-center mt-3">Desarrollo Web FullStack</h1>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Non in reiciendis harum voluptatem commodi quia eveniet accusamus aspernatur nemo, consequuntur sapiente! Placeat quos enim saepe doloremque, eius ipsam eligendi consequuntur.
      </p>
      <p>
        Vel accusantium, aliquam blanditiis corporis veritatis autem necessitatibus voluptatibus enim maiores obcaecati laboriosam, perferendis, aspernatur quaerat fuga consequatur iusto illum aut tempora repellat esse voluptate veniam? Dolorum fugit minus a.
      </p>
       <p> 
        Sed dolore excepturi a ea ratione quidem aut delectus, cupiditate libero laboriosam soluta aspernatur ducimus quaerat, repudiandae blanditiis molestias impedit eius, quia error est porro ullam voluptatem illo praesentium! A.
      </p>
    </div>
    <div class="col-4">
      <img src="assets/img/gallery3.jpg" class="img-fluid img-thumbnail" alt="">
    </div>
  </div>

      

{{> footer }}